@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-toast {
  position: fixed !important;
  top: 40% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  min-width: 320px !important;
  max-width: 420px !important;
  padding: 16px 20px !important;
  border-radius: 12px !important;

  font-family: system-ui, -apple-system, sans-serif !important;
  line-height: 1.4 !important;

 
}

.toast-success {
  border-left: 4px solid #22c55e; /* green */
}

.toast-error {
  border-left: 4px solid #ef4444; /* red */
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* adjust based on navbar height */
}